requests==2.20.1
flask-restplus==0.12.1
marshmallow==3.0.0rc6
jinja2==3.1.4
Flask==2.2.5
pyyaml==6.0.1
uwsgi==2.0.22
prometheus_flask_exporter==0.9.0
werkzeug==3.0.3
DeepDiff==4.3.0
zipp==3.1.0
MarkupSafe==2.1.5
pyrsistent==0.16.0
tenacity==6.2.0
itsdangerous==2.0.1
